:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

body {
  background-color: var(--light-gray);
  font-family: 'Outfit', sans-serif;
  padding: 0 30px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-qr-container {
  min-width: 260px;
  max-width: 325px;
  /* margin: 0 auto; */
  padding: 15px;
  background-color: var(--white);
  box-shadow: 8px 8px 20px 5px #4dd3fc88;
  border-radius: 20px;
}

.main-qr-container .main-qr-container__img-qr-code {
  width: 100%;
  border-radius: 10px;
}

.main-qr-container .main-qr-container__title {
  padding: 10px 15px;
  text-align: center;
}

.main-qr-container .main-qr-container__title h1 {
  font-size: 1.4em;
  font-weight: 700;
  color: var(--dark-blue);
}

.main-qr-container .main-qr-container__title p {
  font-size: 15px;
  font-weight: 400;
  color: var(--grayish-blue);
}

footer {
  color: var(--grayish-blue);
  text-align: center;
}

.by-me {
  color: var(--dark-blue);
}